/* Font styles */
body, h1, p, input, button {
  font-family: 'Avenir Next', 'Montserrat', 'Lora', sans-serif;
}

/* Additional styles */
.highlight {
  background-color: yellow;
}

.error {
  background-color: #f08080;
  border: 1px solid red; /* Added border for better visibility */
}

#typed-value {
  display: none;
}

/* Reset some default styles */
body, h1, p, input, button {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Game container styles */
div {
  text-align: center;
}

/* Heading styles */
h1 {
  color: #0077cc;
}

/* Paragraph styles */
p {
  margin-bottom: 20px;
}

/* Input box styles */
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

/* Button styles */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005580;
}
